    </table>
	</div><%# opened in _show_header class="loopoff_table_container" id="loopoff_table_1" %>
	<a href="#" class="export_selected" rel="<%= export_selected_rows_directory_path(@directory) %>">Export selected</a>
<%= link_to 'Edit', edit_directory_path(@directory) %> |
<%= link_to 'Back', directories_path %>