		<thead>
		<%- unless @export_mode -%>
		<tr class="tbl_chng">
			<th>
				<a class="icon playlist_oldest" href="http://google.com"><span>Oldest</span></a>
				<a class="icon playlist_previous" href="http://google.com"><span>Previous</span></a>
			</th>
			<th></th>
		  <th></th>
			<th></th>
			<th class="f_right">
				<a class="icon playlist_next" href="http://google.com"><span>Next</span></a>
				<a class="icon playlist_newest" href="http://google.com"><span>Newest</span></a>				
			</th>
		</tr>
		<%- end -%>
		<tr>
			<th>Loop Sets</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th><span class="f_right">Song Info</span></th>
		</tr>
		</thead>
