<h1>Welcome to Loopoff</h1>
<ul>
	<li><%= link_to "List your dbs in RAILS_ROOT/loop_db", dbs_path %></li>
	<li><%= link_to "0.0.1 Proof of concept from Directories controller", directories_path %></li>
</ul>
