<h1><%= link_to "Loopoff the entire archive", loopoff_db_blobs_path(@db.name) %></h1>

This will be the archive dashboard...


one day this will render an epic view dashboard view of everything in the archive like
  <pre>

  Commit 23f9dnn49dnf90asdj9sdn9
    Files {loopoff link}
      f1 f2 f3 f4
    Trees
      {sub-dir1 snapshot link} {sub-dir2 snapshot link}

  Commit 2959c0b5bf42c14ec7033ab305c442b4d9fc480b
    Files {loopoff link}
      f14 f22 f31 f7 f19
    (no trees)        
  </pre>
