[submodule "vendor/plugins/acts_as_list"]
	path = vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "vendor/plugins/acts_as_taggable_on"]
	path = vendor/plugins/acts_as_taggable_on
	url = git@github.com:joegoggins/acts-as-taggable-on.git
